@page "/images"
@using SimpleDragAndDropWithBlazor.Models

<PageTitle>Faces</PageTitle>
<div class="board">
    <div class="board-side">
        <ul>
            <li>
                <button @onclick="onClickDelete" > Delete all</button>
            </li>
        </ul>
    </div>
    <JobsContainer Jobs="Jobs">
        <JobsList ListStatus="JobStatuses.ToSort" AllowedStatuses="@(new JobStatuses[] { JobStatuses.ToSort})" />
        <JobsList ListStatus="JobStatuses.Sorted" AllowedStatuses="@(new JobStatuses[] { JobStatuses.Sorted})" />
    </JobsContainer>
    <div class="cards">
        @foreach (var item in Images)
        {
            <div class="card">
                <header>@item.Extra</header>
                <img src="@item.Base64Src" class="face" alt="@item.Extra" />

                <footer class="@item.Gender"></footer>
            </div>
        }
    </div>
    <div class="group-area">
    </div>
    <div class="board-footer status">
        Status: @Status
    </div>
</div>